<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="cn_davalyperu" connectionString="Data Source=DESKTOP-LJPO79Q\SQLEXPRESS; Initial Catalog=bd_devalay_peru; User ID=sa ; Password=123" />
  <add name="pry_capa_presentacion.Properties.Settings.bd_devalay_peruConnectionString"
   connectionString="Data Source=DESKTOP-LJPO79Q\SQLEXPRESS;Initial Catalog=bd_devalay_peru;Persist Security Info=True;User ID=sa;Password=123"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>